/**
 * 教育随笔的评论样式
 */

.talk-area{
	padding: 20px;
	margin-top: 50px;
}
.talk-title{
	font-size: 25px;
}
.talk-box{
	padding: 0 0px 20px 20px;
}
.talk-content-box{
	position: relative;
	border-bottom: 1px solid #D0D0D0;
	background: rgb(251,251,253);
}
.eachtalk-box{
	margin-bottom: 70px;
}
.talk-messagebox{
	display: inline-block;
	width: 20%;
}
.talk-user{
	padding-top: 20px;
	padding-left: 10%;
	vertical-align: top;
	text-align: left;
	font-size: 20px;
}
.talk-time{
	padding-top: 7px;
	padding-left: 10%;
	vertical-align: top;
	text-align: left;
}
.talk-content{
	padding: 20px 2% 0 2%;
	font-size: 18px;
}
.talk-content-box2{
	display: inline-block;
	float: right;
	width: 80%;
	padding-bottom: 20px;
	background: #fff;
}

.clear:after{
	content: "";
	display: block;
	clear: both;
}
.talkreback-box{
	display: inline-block;
	width: 100%;
	padding: 4px 2.5% 14px 2.5%;
	margin-top: 20px;
	margin-left: 2%;
	border: 1px solid #f0f1f2;
	background: #f7f8fa;
	font-size: 14px;
}
.talkreback-content{
	padding-top: 10px;
}
.newtalkbtn{
	width: 100%;
	margin-top: 5px;
	text-align: right;
}
.talkreback2btn{
	float: right;
	margin-left: 10px;
	/*width:100%;*/
	height:100%;
	text-align: right;
	padding-right: 2%;
	color: #333;
}
.talkreback3btn{
	float: right;
	height:100%;
	text-align: right;
	margin-right: 2%;
	color: #FEA5A5;
}
.talkreback3btn:hover{
	color: #FF0000; 
}
#write-talk{
	height: 200px;
	width: 100%;
}	
#retalkarea{
	width: 80%;
	height: 60px;
	padding-top: 5px;
	padding-left: 5px;
	resize: none;
}
.retalkareaBox{
	position: relative;
	width: 100%;
	padding-left: 2%;
	margin-top: 10px;
}
.pushTalkbox{
	position: absolute;
	display: inline-block;
	width: 19%;
	height: 100%;
	text-align: center;
}
.pushTalkbox input[name='pushreTalk']{
  z-index: 1;
}
.pushTalkbox input[name='closereTalk']{
	border-radius: 0;
  padding: 0px 10px;
	margin-left: -2px;
  z-index: 2;
  font-size: 23px;
}
.retalkareaBox input{
	position: relative;
	margin-top: 15px;
}
.upTalkBox{
	text-align: center;
}
.noTalkBox{
	text-align: center;
}
@media screen and (max-width: 400px){
	.noTalkBox img{
		width: 100%;
	}
}

.talkPage{
	text-align: center;
}
.retalkPage{
	float: left;
	margin-top: 10px;
	margin-left: 1%;
}

@media screen and (max-width: 450px){
	.talk-user{
		font-size: 13px;
	}
	.talk-time{
		font-size: 10px;
	}
	.talk-content{
		font-size: 18px;
	}
	.talkreback-content span{
		font-size: 15px;
	}
	#retalkarea{
		margin-left: 2%;
		width: 96%;
	}
	.pushTalkbox{
		position: relative;
		width: 100%;
	}
	.talkreback2btn,
	.talkreback3btn{
		width:100%;
	}
	.retalkPage .ui-pagination-container .ui-pagination-page-item{
    padding: 2px 6px;
	}
}
@media screen and (max-width: 400px){
	.talk-user{
		font-size: 13px;
	}
	.talk-time{
		font-size: 10px;
	}
	.talk-content{
		font-size: 15px;
	}
	.talkreback-content span{
		font-size: 13px;
	}
	#retalkarea{
		width: 100%;
	}
	.pushTalkbox{
		position: relative;
		width: 100%;
	}
	.talkreback2btn,
	.talkreback3btn{
		width:100%;
	}
	.retalkPage .ui-pagination-container .ui-pagination-page-item{
    padding: 2px 5px;
    font-size: 12px;
	}
}