/*
 *
 *   草稿 界面
 *   
 *
*/
.if-c-title{
	margin-bottom: 30px;
	color: #000;
}
.if-c-t-content{
	width: 80%;
	border-bottom: 1px solid #D0D0D0;
	margin: 0 auto;
	overflow: hidden;
}
.if-c-change-title{
	padding-left: 10%;
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
	font-family: "黑体";
}
.if-c-change-title input{
	width: 75%;
	padding-left: 10px;
	font-size: 18px;
	font-weight: normal;
}
.if-c-cover-box{
	display: block;
}
.if-c-write-box{
	width: 80%;
	margin: 0 auto;
	margin-bottom: 100px;
}
.if-c-write-box #div1{
	min-height: 800px;
}
.if-c-write-box img{
	max-width:100%; 
	margin-top: 10px;
	margin-bottom: 20px;
}



































