
/*
 *
 *   咨询管理 界面
 *   
 *
*/

/*


.c-f-b-teacher  教师可看的 分类查找选项卡
.c-f-b-schoolmaster  校长可看的 分类查找选项卡


.c-news-a     table中表示  类型为 新闻的 class
.c-notice-a   table中表示  类型为 公告的 class

.c-school-a   table中表示  等级为 校级的 class
.c-class-a    table中表示  等级为 班级的 class


.c-draft    table中表示  分类为 草稿 的class
.c-pass     table中表示  分类为 通过 的class
.c-wait     table中表示  分类为 审核 的class
.c-unpass   table中表示  分类为 未通过 的class


// 用于输出在二次确认
.c-name-w   table中表示  列为  老师           的父class
.c-title-w  table中表示  列为  文章标题       的父class
.c-photo-w  table中表示  列为  判断有无图片   的父class
.c-time     table中表示  列为  时间           的父class
.c-nub      table中表示  列为  编号           的父class


.s-no   再次确认中的  取消按钮
.s-yes  再次确认中的  执行按钮

*/







tr{
	/*display: none*/
}

.page-btn-box{
	margin: 20px 20px 20px 0;
}


/*#blank-add{
	float: left;
	padding-top: 3px;
  margin-left: 10px;
  font-size: 18px;
  cursor: default;
  color: red;
}*/

.myHidden{
	display: none;
}
#write-nub{
	float: right;
	width: 63px;
	margin-top: 1px;
	margin-left: 10px;
}
#write-nub::-webkit-input-placeholder { /* WebKit browsers */ 
color: #000; 
}
#write-nub:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
color: #000; 
} 
#write-nub::-moz-placeholder { /* Mozilla Firefox 19+ */ 
color: #000; 
} 
#write-nub:-ms-input-placeholder { /* Internet Explorer 10+ */ 
color: #000; 
}


.nochose-box{
	float: left;
	position: relative;
	opacity: 0;
}


.nochose-notice{
	position: absolute;
	width: 95px;
	height: 30px;
	border: 1px solid rgb(166,162,159);
	border-radius: 5px;
	margin-top: 50px;
	margin-left: 15px;
	text-align: center;
	font-size: 15px;
	font-family: "Microsoft Yahei";
	line-height: 23px;
	background-color: #fff;
	box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, .1);
	color: red;
	cursor: default;
	z-index: 1;
}
.triangle-up{
	position: absolute;
	width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 16px solid #fff;
  margin-top: 36px;
  margin-left: 27.2px;
  z-index: 2;
}
.triangle-up2{
	position: absolute;
	width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 18px solid rgb(166,162,159);
  margin-top: 34px;
  margin-left: 25px;
  z-index: 1;
}

.text-gray{
	color: rgb(194,194,194);
}
.btn-unseccess {
  background-color: rgb(78,37,97);
  border-color: #23c6c8;
  color: #FFFFFF;
}
.btn-unseccess:hover,
.btn-unseccess:focus,
.btn-unseccess:active,
.btn-unseccess.active{
	background-color: rgba(78,37,97,0.8);
	border-color: #21b9bb;
	color: #FFFFFF;
}

.c-content-box{
	float: left;
	width: 100%;
	border: 1px solid #e7eaec;
	border-bottom: 0;
	border-top: 0;
	padding: 30px 20px 20px 20px;
	margin-bottom: 0;
	background-color: #ffffff;
	
}

.c-content-box td span{
	cursor: default;
}

.label-white{
	background-color: #c2c2c2;
	color: rgb(105,105,105);
}
.c-p{
	padding-left: 12px!important;
}
.c-t-p-lg{
	padding-left: 25px!important;
}
.c-c-p-lg{
	padding-left: 24px!important;
}
.m-table{
	table-layout:fixed;
}
.m-table thead{
	cursor: default;
}
.c-normal-w {
	width: 10%;
}
.c-normal-w2 {
	width: 15%;
}
.c-normal-w3 {
	width: 12%;
}
.c-photo-w {
	width: 5%;
}
.c-title-w {
	width: 45%;
}
.c-title-w2{
	width: 50%;
}
.c-f-b-title{
	border-radius: 3px;
  padding: 3px 20px;
	margin: 4px;
	line-height: 25px;
	text-align: left;
  clear: both;
  cursor: default;
}

.c-nub{
	display: none;
}




.mail-box-header{
	float: left;
	width: 100%;
	/*margin-bottom: 20px;*/
}
/*      全校素有新闻公告/我的新闻公告 部分      */
	.news-sort-btn{
		float: left;
		width: 100%;
	}
	.n-s-all-btn,
	.n-s-my-btn{
		float: left;
		width: 170px;
		height: 53px;
		margin-right: 3px;
		font-size: 18px;
		text-align: center;
		line-height: 53px;
		color: #fff;
		background-color: rgb(153, 153, 153);
		cursor: pointer;

		        transition: 0.5s;
		   -moz-transition: 0.5s;
		-webkit-transition: 0.5s;
		     -o-transition: 0.5s;

	}
	.news-sort-btn div:not(.n-s-c):hover{
		opacity: 0.7;
	}
	.n-s-c{
		background-color: rgb(255, 153, 102);
	}

/*      全校素有新闻公告/我的新闻公告 部分  END      */



/*      搜索文字 部分      */
	.news-index{
		float: left;
		width: 100%;
		margin-top: 60px;
		margin-bottom: 40px;
	}
	.n-i-box{
		float: left;
		width: 33%;
		font-size: 18px;
		text-align: center;
	}
	.n-i-box input{
		width: 60%;
		height: 30px;
		padding-left: 7px;
		font-size: 16px;
	}
	@media screen and (max-width: 1005px){
		.n-i-box input{
			width: 55%;
			height: 30px;
			padding-left: 7px;
			font-size: 16px;
			}
			.wrapper .row .animated{
				width: 90%;
				margin-left: 5%;
			}
	}
	@media screen and (max-width: 904px){
		.n-i-box input{
			width: 50%;
			height: 30px;
			padding-left: 7px;
			font-size: 16px;
		}
		.wrapper .row .animated{
			width: 95%;
			margin-left: 2.5%;
		}
	}
	.news-search{
		float:right;
		width: 10%;
	}
	.news-search button{
		float: left;
		width: 60px;
	}
	.news-search i{
		display:inline-block;
		margin-left:-7px;
	}
	.n-i-searchword-box{
		float: left;
		width: 90%;
	}

/*      搜索文字 部分   END   */


/*      审核状态分类 部分    */
	.news-status{
		float: left;
		width: 100%;
		padding-left: 10px;
		padding-bottom: 20px;
		border-bottom: 1px dashed rgb(233,233,233);
		font-size: 18px;
		font-family: 'Microsoft Yahei';
	}
	.news-status span{
		float: left;
	}
	.n-s-title{
		line-height: 30px;
	}
	.news-status span:not(.n-s-title){
		width: 70px;
		height: 30px;
		border-radius: 5px;
		margin-left: 5px;
		line-height: 30px;
		cursor: pointer;
		text-align: center;
		background-color: rgb(234,234,234);
		color: #858585;
	}
	.n-s-chosed{
		color: #fff!important;
		background-color: rgb(44,194,134)!important;
	}

/*      审核状态分类 部分  END    */


/*      全部、新闻、公告 分类按钮 部分    */
	.news-nchange-btn-box{
		float: left;
		width: 100%;
		padding-left: 30px;
		margin-bottom: 20px;
	}
	.news-nchange-btn{
		float: left;
	}
	.news-nchange-btn-box button{
		width: 70px;
	}
	.news-nchange-btn-box .n-btn-o{
		width: 90px;
	}
	.news-nchange-btn .btn-white{
		background-color: #F2F1F1
	}
	.news-newpage-btn{
		float: right;
		margin-right: 30px;
	}
	.news-newpage-btn button{
		color: #fff;
		border-color: rgb(255,153,102);
		background-color: rgb(255, 153, 102)
	}
	.news-newpage-btn button:hover{
		color: #fff;
		border-color: rgb(255,153,102);
		background-color: #FFA97E
	}

/*      全部、新闻、公告 分类按钮 部分  END    */



/*     资讯列表      */
	.news-lists{
		float: left;
		width: 100%;
		border: 1px solid #D8D8D8;
		margin-bottom: 10px;
	}
	.news-list-title{
		height: 40px;
		border-bottom: 1px solid #D8D8D8;
		line-height: 40px;
		font-size: 17px;
	}
	.news-list-kind{
		margin-left: 1%;
		margin-right: 20%;
	}
	.news-list-status{
		float: right;
		margin-right: 3%;
	}
	.news-list-status .fa-check-circle{
		float: left;
		margin-top: 7px;
		margin-right: 10px;
		font-size: 23px;
		color: rgb(165,211,156);
	}
	.news-list-status .fa-clock-o{
		float: left;
		margin-top: 7px;
		margin-right: 10px;
		font-size: 23px;
		color: rgb(239,179,67);
	}
	.news-list-status .fa-times-circle{
		float: left;
		margin-top: 7px;
		margin-right: 10px;
		font-size: 23px;
		color: rgb(223,70,50);
	}
	.news-list-name{
		margin-right: 20%;
	}
	.news-list-content-box{
		width: 100%;
		height: 100px;
		padding-top: 1%;
	}
	.news-list-content{
		float: left;
		width: 80%;
		height: 90%;
		margin-left: 1%;
	}
	.news-list-content .n-l-c-photo{
		float: left;
		width: 130px;
		height: 70px;
		border: 1px solid rgba(218,218,218,0.7);
		margin-right: 30px;
		text-align: center;
		line-height: 70px;
	}
	.n-l-c-photo img{
		max-width: 130px;
		max-height: 70px;
	}
	.n-l-c-w{
		font-size: 17px;
		height: 90%;
		padding-bottom: 10px;
		margin-left: 10px;

		overflow : hidden;
	  text-overflow: ellipsis;
	  display: -webkit-box;
	  -webkit-line-clamp: 3;
	  -webkit-box-orient: vertical;
	}
	.news-list-func{
		float: left;
		width: 19%;
		height: 90%;
		line-height: 77px;
		text-align: center;
	}
	.news-list-func :first-child{
		margin-right: 10px;
	}
  .n-l-c-w-notice{
		overflow: hidden;
		text-overflow:ellipsis;
		white-space: nowrap;
		line-height: 70px;
  }


/*     资讯列表   END     */































