.body{
    padding: 10px 20px;
}
.main{
    width: 800px;
    height: auto;
    padding-top: 100px;
    margin: 0 auto;
}
.goHome .goHomeSpan{
    position: relative;
    top: 20px;
}
.main .theRow{
    width: 600px;
    height: 300px;
    /*background-color: white;*/
}
.main .theRow .theRowInput{
    width: 300px;
    height: 60px;
    margin: 10px 0 0 30px;
    float: left;
}
.main .theRow .theRowInput span{
    display: block;
    float: left;
    font-size: 15px;
    width: 80px;
    height: 50px;
    line-height: 50px;
    text-align: right;
    font-weight: 600;
}
.main .theRow .theRowInput input, .main .theRow .theRowInput select{
    width: 200px;
    height: 30px;
    float: right;
    margin: 10px 10px 0 0;
    padding-left: 8px;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
}
.main .theRow .theRowInput i{
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    top:15px;
    left: 266px;
    background: url(../../img/look.jpg);
    cursor: pointer;
}


.main .button{
    margin-left: 200px;
}
.main .button input{
    width: 80px;
    height: 30px;
    color: white;
    line-height: 30px;
    margin-right: 10px;
    /*background-color: #00B2E2;*/
    border-radius: 5px;
    border: none;
}


.teacherDiv{
    position: absolute;
    width: 600px;
    height: 400px;
    z-index: 99;
    background-color: white;
    top: 100px;
    left: 200px;
}
.teacherDiv .teacherNameInput{
    width: 80px;
    height: 30px;
    line-height: 30px;
    margin: 10px 20px;
    border-radius: 5px;
    border: none;
}

.buttonAdd{
    background-color: #1ab394;
}
.buttonCancel{
    background-color: #f8ac59;
}
