html body{
    width: 100%;
    height: 100%;
}
.ibox-content{
}

#main{
    position: relative
}
.box{
    padding: 25px 0 0 15px;
    float: left;
}
.pic{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    text-align: center;
    background-color: white;

}
.pic img{
    width: 265px;
    height: auto;
    cursor: pointer;
}
.pic p{
    padding-top: 10px;
    font-size: 20px;
    width: 200px;
    height: auto;
    margin: 0 auto;
}